.contenedor-video,
.menu-lateral {
  position: fixed;
  top:0;
}

.contenedor-video {
  left: 0;
  width: 100%; 
  height: 100vh;
}

.menu-lateral-fiorino {
  top: 50%;
  width: 30%; 
  height: 100vh;
  color: #fff; 
  z-index: 9999;
  transform: translateY(30%);

}
.meniu-lateral-fiorino ul li a{
    display: block;
    line-height: 10px;
    color: #fff !important;
}
.menu-lateral-fiorino ul li{
    list-style: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 55px;
    margin-left: 10px;
    font-weight: 900;
    z-index: 9999;
}
.menu-lateral-fiorino ul li a{
    color: rgba(255,255,255,.7);
}
.menu-lateral-fiorino ul li a.active{
    color: rgb(221, 32, 39);
}
.menu-lateral-fiorino ul li a:hover{
    color: rgb(221, 32, 39);
}

.menu-lateral-fiorino2 {
    top: 50%; 
    height: 100vh;
    color: #fff; 
    z-index: 9999;
    transform: translateY(30%);
  
  }
  .meniu-lateral-fiorino2 ul li a{
      display: block;
      line-height: 10px;
      color: #fff !important;
  }
  .menu-lateral-fiorino2 ul li{
      list-style: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 45px;
      line-height: 50px;
      margin-left: 10px;
      font-weight: 900;
      z-index: 9999;
  }
  .menu-lateral-fiorino2 ul li a{
      color: rgba(255,255,255,.7);
  }
  .menu-lateral-fiorino2 ul li a.active{
      color: #E7242D;
  }
  .menu-lateral-fiorino2 ul li a:hover{
      color: #E7242D;
  }

  .text-gradient-gold {
    background: linear-gradient(to right, #E7242D 10%, #E7242D 80%);
      background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  color: white;
}

.whatsapp-icon {
  margin-top: 13px;
  color: white;
}

.tiktok::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:"\e07b";
}

