@font-face {
  font-family: 'BirdHouse';
  src: url("/fonts/OTF/Bird.otf") format("opentype"),
       url("/fonts/TTF/Bird.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

body, p, button, [type="button"], [type="submit"], textarea, a{
  font-family: 'Lato' !important;
}

.seccion {
  font-family: 'BirdHouse' !important;
  font-weight: 400;
  font-style: normal;
  font-size: 160px !important;
  text-align: center;
}
.contenedor-video,
.menu-lateral {
  position: fixed;
  top:0;
}

.contenedor-video {
  left: 0;
  width: 100%; 
  height: 100vh;
}

.menu-lateral-fiorino {
  top: 50%;
  width: 30%; 
  height: 100vh;
  color: #fff; 
  z-index: 9999;
  transform: translateY(30%);

}
.meniu-lateral-fiorino ul li a{
    display: block;
    line-height: 10px;
    color: #fff !important;
}
.menu-lateral-fiorino ul li{
    list-style: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 55px;
    margin-left: 10px;
    font-weight: 900;
    z-index: 9999;
}
.menu-lateral-fiorino ul li a{
    color: rgba(255,255,255,.7);
}
.menu-lateral-fiorino ul li a.active{
    color: rgb(221, 32, 39);
}
.menu-lateral-fiorino ul li a:hover{
    color: rgb(221, 32, 39);
}
#return-to-top span {
  color: rgb(221, 32, 39);
}
.bg-gold {
  background-color: rgb(221, 32, 39);
}
.menu-lateral-fiorino2 {
    top: 50%; 
    height: 100vh;
    color: #fff; 
    z-index: 9999;
    transform: translateY(30%);
  
  }
  .meniu-lateral-fiorino2 ul li a{
      display: block;
      line-height: 10px;
      color: #fff !important;
  }
  .menu-lateral-fiorino2 ul li{
      list-style: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 45px;
      line-height: 50px;
      margin-left: 10px;
      font-weight: 900;
      z-index: 9999;
  }
  .menu-lateral-fiorino2 ul li a{
      color: rgba(255,255,255,.7);
  }
  .menu-lateral-fiorino2 ul li a.active{
      color: #E7242D;
  }
  .menu-lateral-fiorino2 ul li a:hover{
      color: #E7242D;
  }

  .text-gradient-gold {
    background: linear-gradient(to right, #E7242D 10%, #E7242D 80%);
      background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  color: white;
}

.whatsapp-icon {
  margin-top: 13px;
  color: white;
}

/******************** INICIO  ******************** /

/*********** TITULO DE SECCIONES EN INICIO ***************/
a > h1{
  background-color: #0606068A !important;
  padding: 11px 10px;
  text-transform: uppercase;
}

.titulo-seccion{
  font-size: 24px;
}
/*Dimensiones para el logo de Fiorino en el header*/
.logo-fiorino{
  width: 340px;
}
.logo-fiorino-index{
  width: 400px;
}


.bg-lime{
  background-color: #E7242D;
}
.text-lime{
  color: #E7242D;
}

.uk-transition-fade {
  opacity: 1;
}

@media (min-width: 992px){
  .uk-transition-fade {
    opacity: 0;
  }
}

/*Servicios*/
.btn-servicios,
.btn-servicios:hover,
.btn-servicios:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn:focus-visible,
.btn-primary:not(:disabled):not(.disabled):active:focus{
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  text-transform: none;
  margin-top: 6px;
  font-size: 30px;
  font-weight: 200;
  box-shadow: none;
}
.img-servicio{
  width: 60px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem transparent;
}

.servicios{
  font-size: 80px !important;
}
/*Imagenes de portadas*/
.image-bg{ /*Book*/
  background: url(../images/portadas/15-anios/book/2.png); 
  background-position: center;
  background-size: cover;
}
.image-bg-2{ /*Fiesta*/
  background: url(../images/portadas/15-anios/fiesta/1.png); 
}
.image-bg-3{ /*Bodas*/
  background: url(../images/portadas/bodas/2.png); 
}
.image-bg-4{ /*Bar bat*/
  background: url(../images/bar-bat/medianas/JPEG/DSC_238.jpg); 
  background-position: top left;
  background-size: cover;
}

.image-bg-5{ /*Celebraciones*/
  background: url(../images/portadas/celebraciones/1.png); 
}
.image-bg-6{ /*Empresariales*/
  background: url(../images/empresariales/); 
}


.overlay-black:after{
    opacity: 0.629 !important; 
}
.overlay-black-celebraciones:after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;

}
.overlay-black-celebraciones:after{
  background: #000;
  opacity: 0.82 !important; 
}


/*Fondos de secciones*/
.image-bg-7{ /*Nosotros*/
  background: url(../images/portadas/Fondos/Nosotros/Nosotros.jpeg); 
  background-position: center;
  background-size: cover;
  color: rgba(255,255,255,.8);
}
.image-bg-8{ /*Contacto*/
  background: url(../images/portadas/Fondos/BlancoyNegro86.jpg); 
  background-position: center;
  background-size: cover;
} 
.image-bg-9{ /*Agradecimientos*/
  background: url(../images/portadas/Fondos/Lucia0778.jpg); 
  background-position: center;
  background-size: cover;
  color: rgba(255,255,255,.8);
}
.image-bg-10{ /*Servicios*/
  background: url(../images/portadas/Fondos/Valentina0399.jpg); 
  background-position: center;
  background-size: cover;
  color: rgba(255,255,255,.8);
}

.modal-content {
  color: white;
  background-color: black;
  border: 1px solid white;
}
.modal-title{
  color: red;
}
.modal-content {
  border: 1px solid red;
}
